<h1> Harvesting Tomatoes </h1>

<%= link_to 'start timer', '#', class: 'toggle' %>
<%= link_to 'toggle', toggle_timer_path(1) %>
<%= link_to 'short break', '#', class: 'break' %>
<%#= link_to 'toggle', 'https://pnbwell.harvestapp.com/daily/timer/150844187', class: 'toggle' %>
<div id="timer"></div>

  
<%= link_to 'Sign Up with Harvest', '/auth/harvest' %>
