
.toggle {
  color: #FF4900;
  hover: purple;
  float: center;
}

.break {
  float: center;
}

header {
  
  background: #7EB12C;
  height: 180px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 80px;
  text-align: center;
}

#timer {
  text-align: center;
  font-size: 300px;
  color: #FF5900;
}